body {
    background: #37599B;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

h2 {
    font-size: 15pt;
}

.col2 {
    column-count: 2;
}

#datepicker {
    height: 20px;
    width: 80px;
    text-align: center;
    background: none;
    border: 1px solid white;
    color: white;
}

.hidden {
    display: none;
}

#center-display {
    margin: 0 auto;
    height: 100%;
    width: 500px;
}