* {
    background: #37599B;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

h2 {
    font-size: 15pt;
}

.col2 {
    column-count: 2;
}

.hidden {
    display: none;
}


#date-picker, #routes-list {
    height: 30px;
    background: none;
    border: 1px solid white;
    color: white;
    text-align: center;
}

#date-picker {
    width: 80px;
}

textarea:focus, input:focus {
    outline: none;
}

/* .ui-checkboxradio-radio-label .ui-icon-background {
	width: 16px;
	height: 16px;
	border-radius: 1em;
	overflow: visible;
	border: none;
} */

.ui-corner-all {
    border-radius: 0;
}

.ui-button:focus, .ui-button:hover {
    background: none;
}

#routes-list {
    width: 150px;
}

#center-display {
    margin: 0 auto;
    height: 100%;
    width: 500px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid white;
    background: #37599b;
    font-weight: normal;
    color: white;

}

.ui-widget-header {
    background: #37599b;
}

.ui-widget-content {
    background: none;
}